<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="Piktical" value="http://piktical-build.westeurope.cloudapp.azure.com/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="Telerik" value="https://nuget.telerik.com/nuget" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="%nuget_telerik_user%" />      
      <add key="ClearTextPassword" value="%nuget_telerik_password%" />
    </Telerik>
  </packageSourceCredentials>
 </configuration>